<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-1"></div>
<div class="col-lg-11">
<ul>
    <li>
        <h3>Trabajo 1</h3> - <h3>(years)</h3>
    </li>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis aliquam est nemo quas debitis neque tempore fugit assumenda, dicta distinctio quod aliquid modi illo cupiditate unde maxime necessitatibus rerum praesentium.</p>
    <li>
        <h3>Trabajo 2</h3> - <h3>(years)</h3>
    </li>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis aliquam est nemo quas debitis neque tempore fugit assumenda, dicta distinctio quod aliquid modi illo cupiditate unde maxime necessitatibus rerum praesentium.</p>
    <li>
        <h3>Trabajo 3</h3> - <h3>(years)</h3>
    </li>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis aliquam est nemo quas debitis neque tempore fugit assumenda, dicta distinctio quod aliquid modi illo cupiditate unde maxime necessitatibus rerum praesentium.</p>
</ul>
</div>

</div>